doctype
html
  head
    title Recent Kilauea Volcano Tremors
    link(rel='stylesheet', href='stylesheets/screen.css') 
  body
    h1 Count of Kilauea Earthquake Magnitudes Since May&nbsp;3,&nbsp;2018
    p
    div #{date}
    p
    form(action="/" method="post")
      x Magnitude selection:&nbsp&nbsp
      select(name="magnitude")
        option(value="-1" selected="selected") All
        option(value="5") 5
        option(value="4") 4
        option(value="3") 3
        option(value="2") 2
        option(value="1") 1
        option(value="0") 0
      p
      x Week Selection:&nbsp&nbsp
      select(name="week")
        option(value="-1" selected="selected") All
        - for (var i = 0; i < weekcnt.length - 1; i++ )
          option(value=i) #{weeklabel[i]}
      p
      input(type="submit" value="Submit")
    p
    section(id="magnitude" class="ingrid")
      table(align="center" border=2)
        thead
          tr
            th Magnitude 
            th Count
        tbody
        - for (var i = 5; i >= -1; i-- )
            tr 
              td=maglabel[i === -1 ? 6 : i]
              td=magsize[i === -1 ? 6 : i]
      p
    section(id="weekly" class="ingrid")
      table(align="center" border=2)
        thead
          tr
            th Week Beginning
            th Count
        tbody
        - for (var i = 0; i < weekcnt.length ; i++ )
            tr 
              td=weeklabel[i]
              td=weekcnt[i]
      p
    section(id="map" class="mapgrid")
      img(src='./images/KilaueaMap.png')
